# =========================================================================
#  CONFIGURACIÓN DEL ENTORNO LOCAL (PLANTILLA DE EJEMPLO)
# =========================================================================

#  CONFIGURACIÓN DE POSTGRESQL (Almacén de Datos)
DB_USER=postgres
DB_PASSWORD=escribe_aqui_una_contrasena_segura
DB_NAME=cuut_data_warehouse

#  CONFIGURACIÓN DE MONGODB (Origen NoSQL)
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=secret_mongo_password

#  CONFIGURACIÓN DE PGADMIN (Administración Web)
PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=admin123